<form action="<%= notes_url %>" method="post">
	<label for="body">body</label>
	<textarea type="text" name="note[body]" value="<%= @note.body %>" id="body"></textarea>
	<br />
	<input type="hidden" name="note[track_id]" value="<%= @track.id %>" id="track_id" />
	<input type="hidden" name="note[user_id]" value="<%= current_user.id %>" id="user_id" />
	<input type="submit" name="submit" value="Submit" />
</form>
