<form action="<%= users_path %>" method="post">
  <label for="email">Email</label>
	<input type="text" name="user[email]" id="email"></input>
	<br />
  <label for="password">Password</label>
	<input type="password" name="user[password]" id="password"></input>
	<br />
	<input type="submit" id="submit"></input>
</form>